<div class="container">
  <h1>Bienvenu sur le pokedex</h1>
  <!-- <app-searchpokemon></app-searchpokemon> -->
  <input type="text" [(ngModel)]="search" name="search">
  <ul>
    <li *ngFor="let pokemon of PokemonsList | search:search">
      {{ pokemon.name.fr }}
    </li>
  </ul>
  <img [src]="urlImage" alt="pokedex">
  <div class="row">
    <div class="col-md-6">
      <img [src]="pokemonSelected?.sprites?.regular" [alt]="pokemonSelected?.name?.fr">
    </div>
    <div class="col-md-6">
      <!-- <app-right-screen [inPokemon]="pokemonSelected"></app-right-screen> -->
    </div>

  </div>

</div>
