<div class="container">
  <h1>Bienvenu sur le pokedex</h1>
  <!-- <app-searchpokemon></app-searchpokemon> -->
  <input type="text" [(ngModel)]="search" name="search">

    <div *ngFor="let pokemon of PokemonsList | search:search">
      <div class="row">
        <div class="col-md-6">
          <img [src]="pokemon?.sprites?.regular" alt="pokemon?.name?.fr">
        </div>
        <div class="col-md-6">
          <app-right-screen [inPokemon]="pokemon"></app-right-screen>
        </div>
      </div>
    </div>

</div>
