<!--
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <label for="username">Username</label>
  <input
    type="text"
    id="username"
    name="username"
    [(ngModel)]="username"
    required
  />

  <label for="password">Password</label>
  <input
    minlength="4"
    type="password"
    id="password"
    name="password"
    [(ngModel)]="password"
    required
  />

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
-->
<!-- VERSION 2 -->
<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" ngModel required />

  <label for="password">Password</label>
  <input
    minlength="4"
    type="password"
    id="password"
    name="password"
    ngModel
    required
  />

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
