<div class="pokemon-detail-card" *ngIf="pokemon">
  <div class="row">
    <div class="col-md-6">
      <div class="pokemon-header">
        <h1 class="pokemon-name">
          {{ pokemon.name.fr }}
          <span class="pokemon-name-alt">({{ pokemon.name.en }} / {{ pokemon.name.jp }})</span>
        </h1>
        <img [src]="pokemon.sprites.regular" [alt]="pokemon.name.fr">
      </div>
    </div>

    <!-- pokedex_id
     name( en fr)
     sprites
     types(afficher les images des 2 types)
     talents
     les stats
     les evolutions -->
    <div class="col-md-6">
      <div class="pokemon-body">
        <div class="pokemon-info">
          <h4>Details</h4>
          <div class="row">
            <p class="col">
              <strong>Pokedex ID:</strong> {{ pokemon.pokedex_id }}
            </p>
            <p class="col">
              <strong>Generation:</strong> {{ pokemon.generation }}
            </p>
          </div>
          <div class="row">
            <p class="col"><strong>Category:</strong> {{ pokemon.category }}</p>
            <p class="col"><strong>Height:</strong> {{ pokemon.height }}</p>
          </div>
          <div class="row">
            <p class="col"><strong>Weight:</strong> {{ pokemon.weight }}</p>
            <p class="col">
              <strong>Catch Rate:</strong> {{ pokemon.catch_rate }}
            </p>
          </div>
          <p class="col">
            <strong>Level 100 Exp:</strong> {{ pokemon.level_100 }}
          </p>
        </div>
      </div>

      <div *ngIf="pokemon.types" class="pokemon-section">
        <h4>Types</h4>
        <ul class="row">
          <li class="col" *ngFor="let type of pokemon.types"><img [src]="type.image" [alt]="type.name" class="imgType">
          </li>
        </ul>
      </div>

      <div *ngIf="pokemon.talents" class="pokemon-section">
        <h4>Talents</h4>
        <ul>
          <li *ngFor="let talent of pokemon.talents">{{ talent.name }}</li>
        </ul>
      </div>

      <div *ngIf="pokemon.stats" class="pokemon-section">
        <h4>Stats</h4>
        <ul class="row">
          <li class="col" *ngFor="let stat of pokemon.stats | keyvalue">
            {{ stat.key }}: {{ stat.value }}
          </li>
        </ul>
      </div>

      <!-- <div *ngIf="pokemon.resistances" class="pokemon-section">
        <h4>Resistances</h4>
        <ul>
          <li *ngFor="let resistance of pokemon.resistances | keyvalue">
            {{ resistance.key }}: {{ resistance.value }}
          </li>
        </ul>
      </div> -->

      <div *ngIf="pokemon.evolution" class="pokemon-section">
        <h4>Evolution</h4>
        <ul>
          <li *ngFor="let evo of pokemon.evolution | keyvalue">
            {{ evo.key }}: {{ evo.value }}
          </li>
        </ul>
      </div>

      <!-- <div *ngIf="pokemon.egg_groups" class="pokemon-section">
        <h4>Egg Groups</h4>
        <ul>
          <li *ngFor="let group of pokemon.egg_groups">{{ group }}</li>
        </ul>
      </div> -->

      <!-- <div *ngIf="pokemon.sexe" class="pokemon-section">
        <h4>Sexe</h4>
        <ul>
          <li *ngFor="let sexe of pokemon.sexe | keyvalue">
            {{ sexe.key }}: {{ sexe.value }}
          </li>
        </ul>
      </div> -->

      <!-- <div *ngIf="pokemon.formes" class="pokemon-section">
        <h4>Formes</h4>
        <ul>
          <li *ngFor="let forme of pokemon.formes | keyvalue">
            {{ forme.key }}: {{ forme.value }}
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
<!-- <div class="pokemon-images">
          <img
            class="pokemon-image"
            [src]="pokemon.sprites.regular"
            alt="{{ pokemon.name.fr }} sprite"
          />
          <img
            *ngIf="pokemon.sprites.shiny"
            class="pokemon-image"
            [src]="pokemon.sprites.shiny"
            alt="{{ pokemon.name.fr }} shiny sprite"
          />
          <img
            *ngIf="pokemon.sprites.gmax"
            class="pokemon-image"
            [src]="pokemon.sprites.gmax"
            alt="{{ pokemon.name.fr }} G-Max sprite"
          />
        </div> -->
<!-- <app-carrousel [images]="images"></app-carrousel> -->
<!-- <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                [src]="pokemon.sprites.regular"
                class="d-block w-100"
                alt="{{ pokemon.name.fr }}"
              />
            </div>
            <div class="carousel-item">
              <img
                [src]="pokemon.sprites.shiny"
                class="d-block w-100"
                alt="{{ pokemon.name.fr }}"
              />
            </div>
            <div class="carousel-item">
              <img
                [src]="pokemon.sprites.gmax"
                class="d-block w-100"
                alt="{{ pokemon.name.fr }}"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div> -->
<!-- 
 pokedex_id
 name( en fr)
 sprites
 types(afficher les images des 2 types)
 talents
les stats
les evolutions  
 
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="pokemon">
        <h1>
          {{ pokemon.name.fr }} ({{ pokemon.name.en }} / {{ pokemon.name.jp }})
        </h1>
        <img
          [src]="pokemon.sprites.regular"
          alt="{{ pokemon.name.fr }} sprite"
        />
        <img
          *ngIf="pokemon.sprites.shiny"
          [src]="pokemon.sprites.shiny"
          alt="{{ pokemon.name.fr }} shiny sprite"
        />
        <img
          *ngIf="pokemon.sprites.gmax"
          [src]="pokemon.sprites.gmax"
          alt="{{ pokemon.name.fr }} G-Max sprite"
        />

        <div>
          <h3>Details</h3>
          <p><strong>Pokedex ID:</strong> {{ pokemon.pokedex_id }}</p>
          <p><strong>Generation:</strong> {{ pokemon.generation }}</p>
          <p><strong>Category:</strong> {{ pokemon.category }}</p>
          <p><strong>Height:</strong> {{ pokemon.height }}</p>
          <p><strong>Weight:</strong> {{ pokemon.weight }}</p>
          <p><strong>Catch Rate:</strong> {{ pokemon.catch_rate }}</p>
          <p><strong>Level 100 Exp:</strong> {{ pokemon.level_100 }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div *ngIf="pokemon?.types">
        <h4>Types</h4>
        <div *ngFor="let type of pokemon?.types">
          <p>{{ type.name }}</p>
          <img class="imgType" [src]="type.image" alt="" />
        </div>
      </div>

      <div *ngIf="pokemon?.talents">
        <h4>Talents</h4>
        <ul>
          <li *ngFor="let talent of pokemon?.talents">{{ talent }}</li>
        </ul>
      </div>

      <div *ngIf="pokemon?.stats">
        <h4>Stats</h4>
        <ul class="row">
          <li class="" *ngFor="let stat of pokemon?.stats | keyvalue">
            {{ stat.key }}: {{ stat.value }}
          </li>
        </ul>
      </div>
      <div *ngIf="pokemon?.evolution">
        <h4>Evolution</h4>
        <ul>
          <li *ngFor="let evo of pokemon?.evolution | keyvalue">
            {{ evo.key }}: {{ evo.value }}
          </li>
        </ul>
      </div>

       <div *ngIf="pokemon?.resistances">
        <h4>Resistances</h4>
        <ul>
          <li *ngFor="let resistance of pokemon?.resistances | keyvalue">
            {{ resistance.key }}: {{ resistance.value }}
          </li>
        </ul>
      </div> -->

<!-- <div *ngIf="pokemon?.egg_groups">
        <h4>Egg Groups</h4>
        <ul>
          <li *ngFor="let group of pokemon?.egg_groups">{{ group }}</li>
        </ul>
      </div> -->

<!-- <div *ngIf="pokemon?.sexe">
        <h4>Sexe</h4>
        <ul>
          <li *ngFor="let sexe of pokemon?.sexe | keyvalue">
            {{ sexe.key }}: {{ sexe.value }}
          </li>
        </ul>
      </div> -->

<!-- <div *ngIf="pokemon?.formes">
        <h4>Formes</h4>
        <ul>
          <li *ngFor="let forme of pokemon?.formes | keyvalue">
            {{ forme.key }}: {{ forme.value }}
          </li>
        </ul>
      </div>  
    </div>
  </div>
</div>
  <section>
  <div class="row">
    <div class="card m-1" style="width: 18rem">
      <img
        [src]="pokemon.sprites.regular"
        class="card-img-top"
        [alt]="pokemon.name"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name.fr }}</h5>

        <div class="row">
           "stats": { "hp": 45, "atk": 49, "def": 49, "spe_atk": 65, "spe_def":
          65, "vit": 45 },  
          <p>Stats</p>
          <p>{{ pokemon.stats.hp }}</p>
          <p>{{ pokemon.stats.atk }}</p>
          <p>{{ pokemon.stats.def }}</p>
          <p>{{ pokemon.stats.spe_atk }}</p>
          <p>{{ pokemon.stats.spe_def }}</p>
          <p>{{ pokemon.stats.vit }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
  pokedex_id, 
name( en fr), 
sprites, 
types(afficher les images des 2 types), 
talents, 
les stats 
les evolutions  -->
