<section>
  <div class="row">
    @for (pokemon of pokemonList; track pokemon.pokedex_id){

    <div class="card m-1" style="width: 18rem">
      <img
        [src]="pokemon.sprites.regular"
        class="card-img-top"
        [alt]="pokemon.name"
      />
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name.fr }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    }
  </div>
</section>
