<div class="container d-flex justify-content-center border">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="images[0]" class="d-block w-10" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="images[1]" class="d-block w-10" alt="...">
      </div>
      <div class="carousel-item">
        <img [src]="images[2]" class="d-block w-10" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev btn btn-danger" type="button" data-bs-target="#carouselExample"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden ">Previous</span>
    </button>
    <button class="carousel-control-next btn btn-danger" type="button" data-bs-target="#carouselExample"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
